body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 0.875rem;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  background-color: #DD0333;
  color: white;
}

.header h1 {
  margin: 3px;
  padding: 3px;
}

.header p {
  margin: 3px;
  padding: 3px;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  flex-wrap: wrap;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px;
  max-width: 100%;
}

.navbar a:hover {
  background-color: #DD0333;
}

.top {
  font-weight: bold;
  color: #D50032;
}

.main {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.52;
  padding: 8px;
}

.main a:not(.github) {
  color: #0a0a0a;
  text-decoration: none;
}

.main a.github {
  font-weight: bold;
  color: #DD0333;
  text-decoration: none;
}

.main a:hover {
  border-bottom: 1px dotted #DD0333;
}

img.harvard {
  width: 100%;
  max-width: 460px;
  height: auto;
  float: right;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  img {
    width: auto;
    float: none;
  }
  img.harvard {
    width: 100%;
    float: none;
  }
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 4px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #111;
  margin-bottom: 9px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #D50032;
  margin-bottom: 1px;
}

.footer {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  background-color: #DD0333;
  color: white;
}

.footer p {
  margin: 3px;
  padding: 3px;
}
