body {
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 11px;
  text-align: center;
  background-color: #D50032;
  color: white;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 4px;
}

.navbar a:hover {
  background-color: #D50032;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.top {
  font-weight: bold;
  color: #D50032;
}

.main {
  font-family: 'Roboto', sans-serif;
  line-height: 1.52;
  padding: 9px;
}

.main a:not(.github) {
  color: #0a0a0a;
  text-decoration: none;
}

.main a.github {
  font-weight: bold;
  color: #D50032;
  text-decoration: none;
}

.main a:hover {
  border-top: 1px solid #D50032;
  border-bottom: 1px solid #D50032;
}
/*
.main a:visited {
  color: #0a0a0a;
}
*/

h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: bold;
  color: white;
  margin-bottom: 12px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #111;
  margin-bottom: 9px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #D50032;
  margin-bottom: 1px;
}

.footer {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  background-color: #D50032;
  color: white;
}
