/* Style the body element */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2px;
}

/* Style the header element */
.header {
  padding: 12px;
  text-align: center;
  background-color: #1abc9c;
  color: white;
}

/* Style the navigation bar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  text-decoration: none;
  padding: 9px;
}

/* Change the color of the navigation bar links on hover */
.navbar a:hover {
  background-color: #84e4e2;
  color: black;
}

/* Style the main content */
.main {
  padding: 12px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1abc9c;
  margin-bottom: 12px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 9px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
}

/* Style the footer element */
.footer {
  padding: 10px;
  text-align: center;
  background-color: #2e3550;
  color: white;
}
